@import url("https://fonts.googleapis.com/css2?family=Work+Sans&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}
body {
  padding: 0px 10px;
}
.wrapper {
  max-width: 700px;
  width: 100%;
  margin: 20px auto;
  padding: 30px;
}

.wrapper .title {
  font-size: 34px;
  font-weight: 500;
  margin-bottom: 50px;
  text-align: center;
}

.wrapper .form {
  width: 100%;
}

.wrapper .form .input-field {
  margin-bottom: 15px;
  align-items: center;
  display: flex;
}
.wrapper .form .input-field label {
  width: 200px;
  margin-right: 10px;
  font-size: 14px;
}

.wrapper .form .input-field .input,
.wrapper .form .input-field .textarea {
  width: 100%;
  outline: none;
  border: 2px solid rgb(194, 194, 194);
  border-radius: 5px;
  padding: 4px 5px;
  font-size: 15px;
  transition: all 0.3s ease;
}

.wrapper .form .input-field .textarea {
  width: 100%;
  height: 100px;
  resize: none;
}

.wrapper .form .input-field .radio {
  position: relative;
  width: 100%;
}
.wrapper .form .input-field .radio label {
  margin-left: 5px;
}
input[type="radio"]::before {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #e2e2e2;
  content: "";
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}

input[type="radio"]:checked:after {
  outline: none;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  top: -23.5px;
  left: 4.5px;
  position: relative;

  content: "";
  display: inline-block;
  visibility: visible;
  background-color: #696969;
}

.wrapper .form .input-field .input:focus,
.wrapper .form .input-field .textarea:focus {
  border: 2px solid #696969;
}
.wrapper .form .input-field .token label {
  font-weight: 900;
  width: 50px;
  margin-top: 5px;
  margin-right: 10px;
  margin-left: auto;
  font-size: 14px;
}
.wrapper .form .input-field .token {
  width: 100%;
  display: flex;
}
.wrapper .form .input-field .token .input {
  width: 30%;
  outline: none;
  border: 2px solid #ffaa75;
  border-radius: 5px;
  padding: 4px 5px;
  font-size: 15px;
  transition: all 0.3s ease;
}
.wrapper .form .input-field .token .input:focus {
  border: 2px solid #e85d04;
}

.wrapper .form .input-field .btn {
  width: 20%;
  margin-left: auto;
  padding: 8px 10px;
  font-size: 14px;
  border: 0px;
  background: #dc2f02;
  color: #fff;
  cursor: pointer;
  border-radius: 3px;
  outline: none;
}

.wrapper .form .input-field .btn:hover,
.wrapper .form .input-field input[type="reset"] {
  background: #ff5d34;
}

.wrapper .form .input-field input[type="reset"] {
  color: #dc2f02;
  outline: none;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 14px;
  margin-bottom: auto;
}
@media (max-width: 420px) {
  .wrapper .form .input-field {
    flex-direction: column;
    align-items: flex-start;
  }
  .wrapper .form .input-field label {
    margin-bottom: 5px;
  }
}
